<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/new.css">
    <title>Excluir!</title>
  </head>
  <body>
    <div id="nav">
      <ul>
        <li>
          <a href="/Home/igredientes">Adicionar Igredientes</a>
        </li>
        <li>
          <a href="/Home/lanches">Adicionar lanche</a>
        </li>
        <li>
          <a href="/Home/index">Home</a>
        </li>
        <div class="clear"></div>
      </ul>
      
    </div>
    <div id="content">
        <h4>Deseja realmente excluir o igrediente ? </h4>
        <form action="" method="POST">
          <a style="font-size:1.4em; padding:7px 0px; width:130px;border:1px solid black; text-align:center; background:red;" href="/Home/index">NÃO</a>
          <input style="cursor: pointer;color: white; background: green; font-weight:bold; width:130px;"  type="submit"  value="SIM">
          
        </form>
    </div>
  </body>
</html>


