<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/new.css">
    <title>Cadastro-Igredientes!</title>
  </head>
  <body>
    <div id="nav">
      <ul>
        <li>
          <a href="/Home/igredientes">Adicionar Igredientes</a>
        </li>
        <li>
          <a href="/Home/lanches">Adicionar lanche</a>
        </li>
        <li>
          <a href="/Home/index">Home</a>
        </li>
        <div class="clear"></div>
      </ul>
      
    </div>
    <div id="content">
        <h4>ADICIONAR IGREDIENTE</h4>
        <form action="">
          <input type="text" name="Name" id="Name" placeholder="Nome igrediente">
          <input type="text" name="Price" id="Price" placeholder="R$ 00,00">
          <input type="submit" class="enviar" value="ADICIONAR ">
        </form>
    </div>
  </body>
</html>


