
@model IQueryable<Adicionando.Models.Igredientes>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/new.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <div id="nav">
      <ul>
        <li>
          <a href="/Home/igredientes">Adicionar Igredientes</a>
        </li>
        <li>
          <a href="/Home/lanches">Adicionar lanche</a>
        </li>
        <li>
          <a href="/Home/index">Home</a>
        </li>
        <div class="clear"></div>
      </ul>
      
    </div>
    <div id="content">
      <table>
        <tr>
          <th class="col-1">LANCHE</th>
          <th class="col-2">IGREDIENTES</th>
          <th class="col-3" colspan="2">AÇOES</th>
        </tr>
        <tr>
              <td>X-tudo</td>
              <td>Bacon, hambúrguer de carne e queijo</td>
              <td><a>ALTERAR</a></td>
              <td><a class="red" href="">EXCLUIR</a></td>
          </tr>
      </table>

      <table>
        <tr>
          <th class="col-1">IGREDIENTES</th>
          <th class="col-2">PREÇO</th>
          <th class="col-3" colspan="2">AÇOES</th>
        </tr>
        @foreach (var u in Model)
        { 
            <tr>
              <td>@u.Nome</td>
              <td>@u.Price</td>
              <td><a asp-action="igredientes" asp-route-id="@u.Id">ALTERAR</a></td>
              <td><a asp-action="excluir" class="red" asp-route-id="@u.Id">EXCLUIR</a></td>
            </tr>
        }
      </table>
      
    </div>
    </body>
</html>
